<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head");%>
</head>

<header>
    <%- include("./partials/header");%>
</header>


<body>

    <main>
        <section class="overview-page">
            <h1>BOOK OF ROMANS</h1>
            <p class="chapter-title">Chapter 1</p>
            <div class="verses-container">

                <% verses.forEach(function(verse) { %>

                <a href="/verse/<%- verse.book_name %> <%- verse.chapter %>:<%- verse.verse %>">
                    <h6><%- verse.verse %></h6>
                </a>

                <% }) %>
            </div>

        </section>

    </main>
    <%- include("./partials/register.ejs");%>
</body>


<main>
  

</html>