<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head");%>
</head>

<header>
    <%- include("./partials/header");%>
</header>


<body>

    <main id="router-view">



        <section class="all-verses">
            <!--SECOND PAGE - PAGES -->

            <% verses.forEach(function(verse) { %>
            <article>
                <article>
                    <div>
                        <h2><%- verse.book_name %></h2>
                        <span><%- verse.chapter %> </span>
                        <h3><%- verse.verse %></h3>
                    </div>
                    <p><%- verse.text %></p>
                </article>
            </article>
            <% }) %>


        </section>
    </main>
    <%- include("./partials/register.ejs");%>
</body>


</html>