<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head");%>
    <link rel="stylesheet" href="/css/styles.css">
</head>



<body>
    <header>
        <%- include("./partials/header");%>
    </header>

    <main id="router-view">


        <section class="detailpage">
            <!--SECOND PAGE - PAGES -->

            <article>
                <div>
                    <h2><%- verse.book_name %></h2>
                    <span><%- verse.chapter %>: </span>
                    <h3><%- verse.verse %></h3>
                </div>
                <p><%- verse.text %></p>

            </article>


        </section>

    </main>
    <%- include("./partials/register.ejs");%>
</body>



</html>