<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head");%>
</head>

<header>
    <%- include("./partials/header");%>
</header>


<body>

    <main id="router-view">


        <section id="content">
            <!--SECOND PAGE - PAGES -->
            <article>
                <article>
                    <h2><%- verse.book_name %></h2>
                    <span><%- verse.chapter %> </span>
                    <h3><%- verse.verse %></h3>
                    <p><%- verse.text %></p>

                </article>

            </article>

        </section>
    </main>
</body>


</html>